body{
    margin: 0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.destaque{
    color: #30a6f0;
}

.container {
    width: 90%; 
    margin: auto;
}

/* 1 */
.barra{
    background-color: #0e0e0f;
    overflow: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.fifa{
    float: right;
    height: 30px;
    margin-left: 35px;
}
/* 2 */
.header{
    background-color: black;
    overflow: auto;
}

.titulo {
    margin: 0;
    float: left;
    padding-top: 7px;
}

.navbar {
    list-style: none;
    float: right;
    cursor: pointer;
}

li {
    float: left;
    margin-left: 10px;
    text-transform: uppercase;
}

/* 3 */
.alocation{
    background-color: gray;
    background-image: url(../imagens/alter.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    /* padding: 40px; */
}

.alocation h3{
    margin-left: 65px;
    padding-top: 20px;
    float: left;
}

.botao{
    margin-right: 115px;
    margin-top: 25px;
    float: right;
    cursor: pointer;
    background-color: Transparent;
    border-color: white;
    border-width: 3.5px;
    border-style: solid;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

/* 4 */
.banner{
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-image: url(../imagens/log.jpg);
}

.texto{
    margin: 0;
    font-size: 40px;
    padding-top: 100px;
    margin-left: 5%;
}
.banner button{
    margin-right: 82%;
}
/* 5 */
.alocation2{
    background-color: #2272a1;
    height: 50px;
}
.alocation3{
    background-color: #0e0e0f;
    height: 50px;
}
/* 6 */
.sobre{
    padding-top: 15px;
    padding-bottom: 10px;
    color: #2272a1;
    background-color: white;
    color: black;
    text-align: center;
}
/* 7 */
.box{
    color: black;
    background-color: white;
    /* border-bottom: 5px solid #2272a1; */
}

.box img{
    height: 100px;
}

.box{
    overflow: auto;
}

.box h3{
    color: #2272a1;
}

.box-item{
    float: left;
    text-align: center;
    width: 27%;
    padding: 3%;
}
/* 8 */
.footer {
    text-align: center;
    height: 50px;
    background-color: #0e0e0f;
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer img{
    height: 30px;
    padding: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar :hover {
    font-weight: bold;
    color: #2272a1;
}

/* --------- PARTE CAMPEONATO --------- */

.banners{
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-image: url(../imagens/fute.jpg);
}

.textos{
    margin: 0;
    padding-top: 200px;
    margin-left: 5%;
}

.campeonatos{
    /* text-align: center; */
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-image: url(../imagens/monsterss.jpg);
}

/* info ----------------------------------- */
.info{
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-image: url(../imagens/white.jpeg);
    margin: 0;
    overflow: auto;
    text-align: center;
    /* margin-left: 150px; */
}

.info h3{
    color: #2272a1;
}

.especial{
    color: #2272a1;
}

.coluna{
    background-color: #0e0e0f;
    margin-top: 35px;
    margin-left: 65px;
    height: 440px;
    width: 300px;
    float: left;
}

.coluna img{
    width: 300px;
    height: 150px;
}

/* cadastro campeonato */

.cad-campeonato{
    background-image: url(../imagens/fifelson.jpg);
    height: 470px;
}

.cad-campeonato h2{
    text-align: center;
    padding-bottom: 5%;
}

.cad-campeonato input{
    width: 300px;
    height: 30px;
    background-color: transparent;
    border-color: white;
    border-width: 3.5px;
    border-style: solid;
    color: white;
    text-align: center;
}

.cad-campeonato button{
    margin-left: 45%;
    margin-top: 7%;
    cursor: pointer;
    background-color: Transparent;
    border-color: white;
    border-width: 3.5px;
    border-style: solid;
    color: white;
    border-radius: 10%;
    height: 50px;
    width: 100px;
}

.esquerda{
    float: left;
    margin-left: 13%;
}

.direita{
    margin-left: 58%;
}

.todos{
    margin-left: 22%;
}

.btn-envio{
    margin-left: 20%;
    cursor: pointer;
}

/* barra lateral -  */
.tela-principal{
    margin: 0;
    background-image: url(../imagens/whitera.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.barra-lateral{
    margin: 0;
    float: left;
    background-color: #0e0e0f;
    border-right: 5px solid #2272a1;
    width: 270px;
    height: 100%;
    position: fixed;
}

.barra-lateral h2{
    margin-left: 60px;
    float: left;
    padding-top: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.btn-sair{
        margin-left: 75px;
        margin-top: 75px;
        float: left;
        cursor: pointer;
        background-color: Transparent;
        border-color: white;
        border-width: 3.5px;
        border-style: solid;
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;    
}

.bot :hover{
    border-color: #30a6f0;
    color: #30a6f0;
    transition: all 0.5s ease-in;
}

.nav{
    padding-top: 75px;
    text-align: center;
    text-transform: uppercase;    
}

.nav span{
    border-bottom: 2px solid white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.nav :hover{
    border-color: #30a6f0;
    transition: all 0.5s ease-in;
}

/* estatisticas */

.estatistica{
    float: left;
    background-color: #0e0e0f;
    height: 250px;
    width: 400px;
    margin-left: 28.5%;
    margin-top: 6%;
    margin-bottom: 1%;
    border-radius: 25px;
    text-align: center;
}

.estatistica img{
    height: 100px;
    margin-top: 30px;
    padding-bottom: 10px;
}

.estatistica .total{
    padding-top: 15px;
}

.estatisticaTwo{
    float: left;
    background-color: #0e0e0f;
    height: 250px;
    width: 400px;
    margin-left: 5%;
    margin-top: 6%;
    border-radius: 25px;
    text-align: center;
}

.estatisticaTwo img{
    height: 100px;
    margin-top: 30px;
    padding-bottom: 10px;
}

.estatistica .totalTwo{
    padding-top: 15px;
}

.estat{
    margin: 0;
    color: #2272a1;
    margin-left: 48%;
    padding-top: 85px;
    text-transform: uppercase;
}

.champs{
    margin: 0;
    color: #2272a1;
    margin-left: 45.5%;
    padding-top: 85px;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.centralizado {
    float: left;
    margin-left: 16%;
    padding-bottom: 15px;
    text-align: center;
    width: 72%;

}

/* tabelas -----------------------------------------------------------------------*/
.especifico{
    color: black;
    /* margin-left: 140px; */
    text-transform: uppercase;
    font-weight: bold;
    float: left;
}

.mostra{
    margin-top: 1px;
}


.mostra :hover{
    cursor: pointer;
    border-color: #30a6f0;
    color: #30a6f0;
    transition: all 0.5s ease-in;
}

.publicacao {
    background-color: #0e0e0f;
    margin: 0 auto;
    width: 80%;
    display: block;
    border: 5px solid #2272a1;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    margin-top: 15px;
    margin-left: 190px;
    float: left;
    overflow: auto;
}

.nome {
    float:left;
    color:#2272a1;
    font-weight: bold;
}


.tipo {
    float:left;
    color:#2272a1;
    font-weight: bold;
    margin-left: 18.5%;
    position: absolute;
}


.premiação {
    float:right;
    color:#2272a1;
    font-weight: bold;
    position: absolute;
    margin-left: 35.5%;
}


.pinCamp {
    float:right;
    color:#2272a1;
    font-weight: bold;
    padding-right: 25px;
}


/* usuario nome* ----------------------------------------------------------------*/

.usuario{
    width: 75%;
    overflow: hidden;
    margin: auto;
    text-align: center;
    color: white;
}

.usuario b{
    color: #30a6f0;
}

/* feed da comunidade --------------------------------------------------------- */
.dashboard {
    /* background-color: #ecf0f1; */
    color: black;
    text-align: center;
    padding: 50px 0;
    width: 80%;
    height: 100%;
    margin-left: auto;
    padding-top: 75px;
}

.dashboard h2{
    color: #2272a1;
}

.dashboard h1 {
    margin-bottom: 40px;
    margin-top: -25px;
}

.painel{
    text-align: center;
    /* margin-left: 60px; */
}

.painel h1{
    padding-top: -15px;
    color: #2272a1;
}

.dashboard .textarea-padrao {
    resize: none;
    display: inline-block;
    text-align: center;
}

.dashboard .btn-blue {
    display: block;
    float: none;
    margin: 8px auto;

    color: white;
    background-color: #2272a1;
    border: 0;
    padding: 10px 20px;

    border-radius: 5px;
    cursor: pointer;
}

/* EXTRA */

.extra {
    margin: 10px;
}

.extra img {
  height: 50px;
  visibility: hidden;
}

.extra .msg_erro {
    background-color: #2272a1; 
    color: black; 
    visibility: hidden;
}

/* select FEED */

.feed {
    background-color: #0e0e0f;
    margin: 0 auto;
    width: 65%;
    display: block;
    border: 5px solid #2272a1;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    margin-top: 15px;
    margin-left: 160px;
    float: left;
    overflow: auto;
    padding-bottom: 2px;
}

.painel :hover{
    cursor: pointer;
    border-color: #30a6f0;
    color: #30a6f0;
    transition: all 0.5s ease-in;
}

.mensagem {
    color: white;
   /* height: auto;
    width: auto;
    margin-left: 13%; */
}

/* estatisticas sleects */
